:root {
  font-family: "Courier New", Courier, monospace;
  --platinum: #d8dbe2ff;
  --powder-blue: #a9bcd0ff;
  --cinereous: #a37871ff;
  --charcoal: #373f51ff;
  --melon: #daa49aff;
}

body {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
  grid-template-rows: 15% 1fr 10%;
  grid-template-areas:
    "header header"
    "nav bookshelf"
    "footer footer";
  font-size: 15px;
}

header {
  grid-area: header;
  justify-content: start;
  padding: 0% 5%;
  font-size: calc(1em+0.3vw);
  background-color: var(--cinereous);
}

nav {
  grid-area: nav;
  padding: 10px;
  background-color: var(--melon);
  font-weight: bold;

}

form input,
select,
button {
  border: 2px solid black;
  border-radius: 5px;
  font-size: large;
  width: 90%;
  box-shadow: 2px 2px 4px var(--charcoal);
}

button {
  margin: 10% 0%;
}


.shelf {
  grid-area: bookshelf;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 0.9fr));
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  background-color: var(--melon);
}

.shelf > div {
  padding: 10px;
  border-radius: 5px;
  border-left: 15px solid var(--cinereous);
  background-color: white;
  margin: 4%;
  box-shadow: 2px 2px 4px var(--charcoal);
}

footer {
  grid-area: footer;
  justify-content: start;
  padding: 2% 10%;
  background-color: var(--cinereous);
}
